{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>L2 Shrine Drop and Spoil calculator</h1>
            <p class="lead">Data found using this calculator corresponds to the data server is using (including drop and spoil chances).</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if items is empty and npcs is empty and form.vars.value is not empty %}
                <p class="text-center"><strong>Nothing was found in the database.</strong></p>
            {% else %}
                <ul class="nav nav-tabs" id="tabs">
                    {% if items is not empty %}
                        <li role="presentation" class="active"><a data-toggle="tab" href="#items"><h2>Items</h2></a></li>
                    {% endif %}
                    {% if npcs is not empty %}
                        <li role="presentation" {% if items is empty %}class="active"{% endif %}><a data-toggle="tab" href="#npcs"><h2>NPCs</h2></a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                {% if items is not empty %}
                    <div id="items" class="tab-pane fade in active">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>Item Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr>
                                    {% set icon = item.icon is empty ? 'no_icon.jpg' : item.icon %}
                                    <td><img src="{{ asset('assets/img/icons/' ~ icon) }}" alt="{{ item.name }}"/> <a href="{{ path('item', {id: item.id}) }}">{{ item.name }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

                {% if npcs is not empty %}
                    <div id="npcs" class="tab-pane{% if items is empty %} fade in active{% else %} fade{% endif %}">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>NPC Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for npc in npcs %}
                                <tr>
                                    <td><a href="{{ path('npc', {id: npc.id}) }}">{{ npc.name }}{% if npc.description is not empty %} ({{ npc.description }}){% endif %}</a> <a href="{{ path('npc_loc', {id: npc.id}) }}"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#form_term').focus();
        });
    </script>
{% endblock %}
